{
  "openapi": "3.1.0",
  "info": {
    "title": "Iron Prose API",
    "description": "Fiction-aware prose analysis API. Detects style, grammar, and pacing issues across 40+ writing craft analyzers. Returns diagnostics, a 6-axis quality score, and a statistical style profile.",
    "license": {
      "name": "Proprietary",
      "url": "https://ironprose.com/terms"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.ironprose.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "paths": {
    "/analyze": {
      "post": {
        "tags": [
          "analysis"
        ],
        "summary": "Analyze prose text for writing craft issues.",
        "description": "Returns diagnostics (style, grammar, pacing issues), a 6-axis quality score,\nand a statistical style profile. Supports filtering by rules and severity,\nand a `score_only` mode for CI quality gates.",
        "operationId": "api_analyze",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyzeParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Analysis completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "bearer": []
          }
        ]
      }
    },
    "/compare": {
      "post": {
        "tags": [
          "analysis"
        ],
        "summary": "Compare two text versions and diff their diagnostics.",
        "description": "Returns lists of fixed, introduced, and persistent issues, plus scores\nfor both versions.",
        "operationId": "api_compare",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompareParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Comparison completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompareResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/entitlement": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Check entitlement status for the current API key.",
        "description": "Returns the tier (free/pro) and whether the key is valid.\nDesktop apps use this to validate `pk_live_*` keys and cache\nthe entitlement locally for offline use.",
        "operationId": "api_entitlement",
        "responses": {
          "200": {
            "description": "Entitlement status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementResult"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "bearer": []
          }
        ]
      }
    },
    "/insights": {
      "get": {
        "tags": [
          "feedback"
        ],
        "summary": "Get aggregate feedback insights per analyzer rule.",
        "description": "Returns per-rule counts of helpful, not_helpful, and false_positive ratings,\nplus a precision proxy (helpful / (helpful + false_positive)).\nOptionally filter by date range using `since` and `until` query params (YYYY-MM-DD).",
        "operationId": "api_insights",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "description": "Only include ratings on or after this date (YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Only include ratings before this date (YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "genre",
            "in": "query",
            "description": "Filter by genre (prefix match: 'fiction' matches 'fiction:literary')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "work_id",
            "in": "query",
            "description": "Filter by work identifier",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Insights retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightsResult"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/insights/export": {
      "get": {
        "tags": [
          "feedback"
        ],
        "summary": "Export raw rated diagnostics with full context.",
        "description": "Returns all rated diagnostics with their associated text, diagnostic details,\nand analysis context (genre, work_id). Useful for training data extraction\nand detailed false-positive analysis.",
        "operationId": "api_export",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "description": "Only include ratings on or after this date (YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Only include ratings before this date (YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "genre",
            "in": "query",
            "description": "Filter by genre (prefix match)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "work_id",
            "in": "query",
            "description": "Filter by work identifier",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rule",
            "in": "query",
            "description": "Filter by rule name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export data retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExportItem"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/rate": {
      "post": {
        "tags": [
          "feedback"
        ],
        "summary": "Rate a diagnostic as helpful, not helpful, or a false positive.",
        "description": "This feedback improves future analysis accuracy.",
        "operationId": "api_rate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Feedback recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "bearer": []
          }
        ]
      }
    },
    "/rules": {
      "get": {
        "tags": [
          "rules"
        ],
        "summary": "List all available analyzer rules.",
        "description": "Returns rule names and categories.",
        "operationId": "api_list_rules",
        "responses": {
          "200": {
            "description": "Rules listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRulesResult"
                }
              }
            }
          }
        }
      }
    },
    "/rules/{name}": {
      "get": {
        "tags": [
          "rules"
        ],
        "summary": "Get documentation for a specific rule.",
        "description": "Returns the first paragraph and a link to the full documentation.",
        "operationId": "api_rule_doc",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The rule (analyzer) name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rule documentation",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AnalyzeParams": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "config": {
            "description": "Optional per-request analyzer configuration overrides.\nKeys are analyzer names (e.g. \"repetition\", \"pacing\"), values are objects\nwhose fields override the default thresholds for that analyzer."
          },
          "genre": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Genre",
                "description": "Optional genre classification (e.g. \"fiction\", \"fiction:literary\", \"nonfiction:memoir\").\nUses a prefix pattern: filter by \"fiction\" matches all fiction sub-genres."
              }
            ]
          },
          "locale": {
            "type": [
              "string",
              "null"
            ],
            "description": "Language locale for spell checking: \"en-us\", \"en-gb\", or \"en-any\" (default).\n\"en-any\" accepts both American and British spellings."
          },
          "rules": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Only run these specific rules (analyzer names). If omitted, all rules run."
          },
          "score_only": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "If true, only return scores (no diagnostics or profile). Useful for CI quality gates."
          },
          "severity_min": {
            "type": [
              "string",
              "null"
            ],
            "description": "Minimum severity to include: \"error\", \"warning\", \"information\", or \"hint\".\nDiagnostics below this threshold are filtered out."
          },
          "text": {
            "type": "string",
            "description": "The text to analyze."
          },
          "work_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional work identifier for grouping analyses of the same document/project\n(e.g. \"book-a\", \"short-story-collection\")."
          }
        }
      },
      "AnalyzeResult": {
        "type": "object",
        "required": [
          "score",
          "word_count"
        ],
        "properties": {
          "diagnostics": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/DiagnosticItem"
            }
          },
          "profile": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ProfileResult"
              }
            ]
          },
          "score": {
            "$ref": "#/components/schemas/ScoreResult"
          },
          "truncated": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "True if the input was truncated due to free-tier limits."
          },
          "word_count": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "CompareParams": {
        "type": "object",
        "required": [
          "original",
          "revised"
        ],
        "properties": {
          "config": {
            "description": "Optional per-request analyzer configuration overrides.\nKeys are analyzer names (e.g. \"repetition\", \"pacing\"), values are objects\nwhose fields override the default thresholds for that analyzer."
          },
          "locale": {
            "type": [
              "string",
              "null"
            ],
            "description": "Language locale for spell checking."
          },
          "original": {
            "type": "string",
            "description": "The original text (before edits)."
          },
          "revised": {
            "type": "string",
            "description": "The revised text (after edits)."
          }
        }
      },
      "CompareResult": {
        "type": "object",
        "required": [
          "fixed",
          "introduced",
          "persistent",
          "original_score",
          "revised_score"
        ],
        "properties": {
          "fixed": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiagnosticItem"
            },
            "description": "Diagnostics present in the original but absent in the revised text (i.e. fixed)."
          },
          "introduced": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiagnosticItem"
            },
            "description": "Diagnostics present in the revised text but absent in the original (i.e. introduced)."
          },
          "original_score": {
            "$ref": "#/components/schemas/ScoreResult"
          },
          "persistent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiagnosticItem"
            },
            "description": "Diagnostics present in both versions."
          },
          "revised_score": {
            "$ref": "#/components/schemas/ScoreResult"
          }
        }
      },
      "DiagnosticItem": {
        "type": "object",
        "required": [
          "rule",
          "severity",
          "message",
          "start_line",
          "start_char",
          "end_line",
          "end_char"
        ],
        "properties": {
          "end_char": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "end_line": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Unique identifier for this diagnostic (use with the `rate` tool)."
          },
          "message": {
            "type": "string"
          },
          "rule": {
            "type": "string"
          },
          "severity": {
            "type": "string"
          },
          "start_char": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "start_line": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "EntitlementResult": {
        "type": "object",
        "required": [
          "tier",
          "valid"
        ],
        "properties": {
          "tier": {
            "type": "string",
            "description": "The user's tier: \"pro\" or \"free\"."
          },
          "valid": {
            "type": "boolean",
            "description": "Whether the API key is valid."
          }
        }
      },
      "ErrorBody": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "ExportItem": {
        "type": "object",
        "description": "A single rated diagnostic with full context.",
        "required": [
          "feedback_id",
          "rule",
          "rating",
          "rated_at"
        ],
        "properties": {
          "context": {
            "type": [
              "string",
              "null"
            ]
          },
          "customer_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "diagnostic_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "end_char": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "end_line": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "feedback_id": {
            "type": "string"
          },
          "genre": {
            "type": [
              "string",
              "null"
            ]
          },
          "input_text": {
            "type": [
              "string",
              "null"
            ]
          },
          "message": {
            "type": [
              "string",
              "null"
            ]
          },
          "rated_at": {
            "type": "string"
          },
          "rating": {
            "type": "string"
          },
          "rule": {
            "type": "string"
          },
          "severity": {
            "type": [
              "string",
              "null"
            ]
          },
          "start_char": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "start_line": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "work_id": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Genre": {
        "type": "string",
        "description": "Genre classification for the analyzed text.\n\nUses a prefix pattern for hierarchical categorization:\ntop-level (`fiction`) or sub-genre (`fiction:literary`).\nStored as text in the DB, filterable by prefix in insights queries.",
        "enum": [
          "fiction",
          "fiction:literary",
          "fiction:sci-fi",
          "fiction:fantasy",
          "fiction:mystery",
          "fiction:thriller",
          "fiction:romance",
          "fiction:horror",
          "fiction:historical",
          "fiction:ya",
          "fiction:short-story",
          "nonfiction",
          "nonfiction:memoir",
          "nonfiction:essay",
          "nonfiction:academic",
          "nonfiction:journalism",
          "nonfiction:blog",
          "nonfiction:technical",
          "poetry",
          "screenwriting"
        ]
      },
      "InsightsResult": {
        "type": "object",
        "description": "Aggregate feedback insights across all rules.",
        "required": [
          "rules",
          "total"
        ],
        "properties": {
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RuleInsightItem"
            },
            "description": "Per-rule feedback statistics, sorted by total ratings descending."
          },
          "total": {
            "type": "integer",
            "description": "Total number of rules with ratings.",
            "minimum": 0
          }
        }
      },
      "ListRulesResult": {
        "type": "object",
        "required": [
          "rules",
          "total"
        ],
        "properties": {
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RuleInfo"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "ProfileResult": {
        "type": "object",
        "required": [
          "avg_sentence_length",
          "sentence_length_variance",
          "min_sentence_length",
          "max_sentence_length",
          "total_sentences",
          "total_paragraphs",
          "dialogue_line_ratio",
          "avg_paragraph_length_words"
        ],
        "properties": {
          "avg_paragraph_length_words": {
            "type": "number",
            "format": "double"
          },
          "avg_sentence_length": {
            "type": "number",
            "format": "double"
          },
          "dialogue_line_ratio": {
            "type": "number",
            "format": "double"
          },
          "max_sentence_length": {
            "type": "integer",
            "minimum": 0
          },
          "min_sentence_length": {
            "type": "integer",
            "minimum": 0
          },
          "sentence_length_variance": {
            "type": "number",
            "format": "double"
          },
          "total_paragraphs": {
            "type": "integer",
            "minimum": 0
          },
          "total_sentences": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "RateParams": {
        "type": "object",
        "required": [
          "rule",
          "rating"
        ],
        "properties": {
          "context": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional context about why the rating was given."
          },
          "diagnostic_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional diagnostic ID from the `analyze` response. Including this\nlinks your feedback to the exact diagnostic (input text, span, message)\nfor more accurate analyzer improvements."
          },
          "end_char": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Optional: end character within the end line.",
            "minimum": 0
          },
          "end_line": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Optional: end line of the diagnostic span.",
            "minimum": 0
          },
          "input_text": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional: the input text that was analyzed."
          },
          "message": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional: the diagnostic message text. When provided alongside the other\ndiagnostic fields, the server will upsert the diagnostic record."
          },
          "rating": {
            "type": "string",
            "description": "Rating: \"helpful\", \"not_helpful\", or \"false_positive\"."
          },
          "rule": {
            "type": "string",
            "description": "The rule (analyzer) that produced the diagnostic."
          },
          "severity": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional: severity of the diagnostic (e.g. \"warning\", \"information\")."
          },
          "start_char": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Optional: start character within the start line.",
            "minimum": 0
          },
          "start_line": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Optional: start line of the diagnostic span.",
            "minimum": 0
          }
        }
      },
      "RateResult": {
        "type": "object",
        "required": [
          "status",
          "message"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "RuleInfo": {
        "type": "object",
        "required": [
          "name",
          "category"
        ],
        "properties": {
          "category": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "RuleInsightItem": {
        "type": "object",
        "description": "Per-rule feedback statistics.",
        "required": [
          "rule",
          "total_ratings",
          "helpful",
          "not_helpful",
          "false_positive",
          "precision_proxy"
        ],
        "properties": {
          "false_positive": {
            "type": "integer",
            "format": "int64",
            "description": "Number of \"false_positive\" ratings."
          },
          "helpful": {
            "type": "integer",
            "format": "int64",
            "description": "Number of \"helpful\" ratings."
          },
          "not_helpful": {
            "type": "integer",
            "format": "int64",
            "description": "Number of \"not_helpful\" ratings."
          },
          "precision_proxy": {
            "type": "number",
            "format": "double",
            "description": "Precision proxy: helpful / (helpful + false_positive). 0 if no data."
          },
          "rule": {
            "type": "string",
            "description": "The analyzer rule name."
          },
          "total_ratings": {
            "type": "integer",
            "format": "int64",
            "description": "Total number of ratings for this rule."
          }
        }
      },
      "ScoreResult": {
        "type": "object",
        "required": [
          "concreteness",
          "imagery_density",
          "vocabulary_richness",
          "sentence_variety",
          "dialogue_balance",
          "pacing_score"
        ],
        "properties": {
          "concreteness": {
            "type": "number",
            "format": "double"
          },
          "dialogue_balance": {
            "type": "number",
            "format": "double"
          },
          "imagery_density": {
            "type": "number",
            "format": "double"
          },
          "pacing_score": {
            "type": "number",
            "format": "double"
          },
          "sentence_variety": {
            "type": "number",
            "format": "double"
          },
          "vocabulary_richness": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API key obtained via /checkout flow. Optional — anonymous requests use free-tier limits."
      }
    }
  },
  "security": [
    {},
    {
      "bearer": []
    }
  ]
}
